html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: lightpink;
  color: darkred;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  text-align: center;
  max-width: 400px;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.image-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-pair img {
  max-width: 50%;
}
